NODE_ENV=development
NEXT_PUBLIC_APP_NAME=DIN TV
NEXT_PUBLIC_API_URL=http://192.168.100.53:3080/api

# Storage
NEXT_PUBLIC_STORAGE_PROTOCOL=http
NEXT_PUBLIC_STORAGE_HOST=192.168.100.53
NEXT_PUBLIC_STORAGE_PORT=3080
NEXT_PUBLIC_STORAGE_PATH=/storages

# Storage
#NEXT_PUBLIC_STORAGE_PROTOCOL=http
#NEXT_PUBLIC_STORAGE_HOST=localhost
#NEXT_PUBLIC_STORAGE_PORT=3080


