NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3080/api
NEXT_PUBLIC_IMAGE_URL=http://localhost:3080

# Storage
NEXT_PUBLIC_STORAGE_PROTOCOL=http
NEXT_PUBLIC_STORAGE_HOST=localhost
NEXT_PUBLIC_STORAGE_PORT=3080


